#cuestionario {
  overflow: hidden; 
  height: 0;
  opacity: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
}

.barraNav{
  background-color: black;
}

#cuestionario.hide {
  height: auto; opacity: 0.8;
  transition: height 0ms 0ms, opacity 600ms 0ms;
}

#show{
  width: 200px;
  margin-top: 5px;
}

@import url(https://db.onlinewebfonts.com/c/24a69b0d49de39034663d837a985f04b?family=BenguiatITCW01-BoldCn);
@font-face {font-family: "BenguiatITCW01-BoldCn"; src: url("https://db.onlinewebfonts.com/t/24a69b0d49de39034663d837a985f04b.eot"); src: url("https://db.onlinewebfonts.com/t/24a69b0d49de39034663d837a985f04b.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/24a69b0d49de39034663d837a985f04b.svg#BenguiatITCW01-BoldCn") format("svg"); }

body {
  background-image: url("./fondo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.st {
  width: 650px;
  height: 310px;
  margin: 0rem auto 0rem auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 8rem;
  font-family: 'BenguiatITCW01-BoldCn';
  font-weight: 800;
  color: #1c0502;
  text-shadow: -0.05rem -0.05rem 1px #ed2b12,
  0.05rem -0.05rem 1px #ed2b12,
  -0.05rem 0.05rem 1px #ed2b12,
  0.05rem 0.05rem 1px #ed2b12,
  0 0 15px #630100,
  0 0 20px #450100;
  letter-spacing: -2px;
}

.st p {
  display: inline-block;
  margin: 0;
}

.st-bound {
  box-shadow: -0.05rem -0.05rem 2px #ed2b12,
  0.05rem -0.05rem 2px #ed2b12,
  -0.05rem 0.05rem 2px #ed2b12,
  0.05rem 0.05rem 2px #ed2b12;
  height: 5px;
}

.st-bound-full {
  width: 850px;
  margin: auto;
  margin-bottom: -1.2rem;
  max-width: 850px;
  margin-left: 5px;
}

.st-bound-mini {
  margin-top: 0.5rem;
}

.st-bound-left {
  float: left;
  width: 99px;
  position: relative;
  left: -90px;
}

.st-bound-right {
  float: right;
  width: 103px;
  left: 100px;
  position: relative;
}

.st-bottom {
  clear: both;
  top: -3.75rem;
  position: relative;
  left: .6rem;
  letter-spacing: 2px;
}

.st-drop {
  line-height: 0;
  position: relative;
  top: 1.55rem;
}

.st-stranger-s {
  font-size: 10.5rem;
  letter-spacing: 0px;
}

.st-stranger-t {
  letter-spacing: 0;
}

.st-stranger-n {
  letter-spacing: -5px;
}

.st-stranger-g {
  letter-spacing: 0;
}

.st-stranger-r-2 {
  font-size: 10.5rem;
  right: 0.2rem;
}

.st-things-t {
  font-size: 104%;
  letter-spacing: 2px;
}

.st-things-n {
  letter-spacing: -5px;
}

.st-things-g {
  letter-spacing: -3px;
}

.subtitulo{
  font-family: 'BenguiatITCW01-BoldCn';
  text-transform: uppercase;
  color: white;
  font-size: 2.5rem;
  margin-top: 1rem;
}

.nombreCrypto{
  font-family: 'BenguiatITCW01-BoldCn';
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  background-color: #000;
  padding-bottom: 10px;
  border: 2px solid red;
}


.boton {
  font-family: 'BenguiatITCW01-BoldCn';
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  background-color: #212529;
  border: 2px solid #ed2b12;
  box-shadow: inset 0 0 20px #212529;
  outline: 1px solid;
  outline-color:#ed2b12;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.boton:hover {
  font-family: 'BenguiatITCW01-BoldCn';
  text-transform: uppercase;
  background-color: #ed2b12;
  color: #212529;
  font-size: 1rem;
  border: 2px solid #212529;
  box-shadow: inset 0 0 20px #212529, 0 0 20px #212529;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #ed2b12; 
}

.title{
  font-family: 'BenguiatITCW01-BoldCn';
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  margin: 0px;
}

.letraSaldo{
  font-family: 'BenguiatITCW01-BoldCn';
  text-transform: uppercase;
  color: white;
  font-size: 1.2rem;
  margin: 0px;
}

html,body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.formulario{
  background-color:black;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'BenguiatITCW01-BoldCn';
  text-transform: uppercase;
  color: white;
  font-size: 1.2rem;
  border: 2px solid #ed2b12;
}

#desplegable{
  font-family: 'BenguiatITCW01-BoldCn';
  text-transform: uppercase;
  color: white;
  background: none;
  border: none;
  font-size: 1.2rem;
}

#saldo{
  font-family: 'BenguiatITCW01-BoldCn';
  text-transform: uppercase;
  color: white;
  font-size: 1.2rem;
}

.letra{
  font-family: 'BenguiatITCW01-BoldCn';
  text-transform: uppercase;
  color: white !important;
  font-size: 2rem;
}

@media screen and (max-width: 880px) {
  .st {
    font-size: 6rem;
  }

  .st-stranger-s {
    font-size: 8.5rem;
    letter-spacing: 0px;
  }

  .st-stranger-r-2 {
    font-size: 8.5rem;
    right: 0.2rem;
  }

  .st-bottom {
    clear: both;
    top: -3.75rem;
    position: relative;
    left: 0rem;
    letter-spacing: 2px;
  }

  .st {
    width: auto;
    height: auto;
  }


}

@media screen and (max-width: 680px) {
  .st {
    font-size: 4rem;
  }

  .st-stranger-s {
    font-size: 6.5rem;
    letter-spacing: 0px;
  }

  .st-stranger-r-2 {
    font-size: 6.5rem;
    right: 0.2rem;
  }

  .st-bottom {
    clear: both;
    top: -2.75rem;
    position: relative;
    left: 0rem;
    letter-spacing: 2px;
  }

  .st {
    width: auto;
    height: auto;
  }

  .title{
    font-family: 'BenguiatITCW01-BoldCn';
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
    margin: 0px;
  }

  .letraSaldo{
    font-family: 'BenguiatITCW01-BoldCn';
    text-transform: uppercase;
    color: white;
    font-size: 0.8rem;
    margin: 0px;
  }

}

@media screen and (max-width: 480px) {
  .st {
    font-size: 3rem;
  }

  .st-stranger-s {
    font-size: 5.5rem;
    letter-spacing: 0px;
  }

  .st-stranger-r-2 {
    font-size: 5.5rem;
    right: 0.2rem;
  }

  .st-bottom {
    clear: both;
    top: -1.75rem;
    position: relative;
    left: 0rem;
    letter-spacing: 2px;
  }

  .st {
    width: auto;
    height: auto;
  }

  .title{
    font-family: 'BenguiatITCW01-BoldCn';
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    margin: 0px;
  }

  .letraSaldo{
    font-family: 'BenguiatITCW01-BoldCn';
    text-transform: uppercase;
    color: white;
    font-size: 0.7rem;
    margin: 0px;
  }

}